<section class="section section-follow black darken-2 white-text">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h4>Libreria Dolores</h4>
        <p>Av. Educacion Tecnologica No. 42
        <br>
          Dolores Hidalgo C.I.N.
        <br>  
          Guanajuato, México CP 37800
          <br>
          Tel: 418 124 0530</p>
      </div>
    </div>
  </div>
</section>
<!-- <footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
  
      </ul>

    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center"><a href="#0" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg></a><a href="#0" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg></a><a href="#0" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
        </svg></a><a href="#0" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-tumblr"></use>
        </svg></a></div>
  
  </div>
</footer>
-->