<app-navpages></app-navpages>
<!--Slider-->

  <!--Seccion parallax-->
  <section>
      <div class="section text-inicio cam-bio">
        <div class="row container">
        <h3 class="header center-align">Libreria Dolores</h3>
        
        </div>
      </div>
  </section>

  <section>
    <div class="slider">
      <ul>
        <li>
          <img src="assets/img/ejemplos.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/librerias.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/libro3.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/libro2.jpg" alt="">
        </li>
      </ul>
    </div>
  </section>
  
  <div class="ae-container-fluid ae-container-fluid--inner rk-main">
      <div class="ae-grid au-xs-ta-center au-mb-4">
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/inner-1.jpg" alt="" class="au-mb-3">
          <h5  aling="align-enter" class="ae-u-bolder au-mt-2 center-align ">Mision</h5>
    
          <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4 center-align" > Nos preocupamos por brindar un mejor servicio a nuestros usuarios, por ello estamos en constante capacitación. Los invitamos a hacer uso de los servicios de su Biblioteca.</p><a href="#0" class="ae-u-bolder au-underline"></a>
        </div>
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/project-12.jpg" alt="" class="au-mb-3">
          <h5 class="ae-u-bolder au-mt-2 center-align">Vision</h5>
          <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4 center-align" >Nuestra Vision es lograr que la Libreria Dolores se posicione para el 2020 como una de las mejores librerias de la region. </p><a href="#0" class="ae-u-bolder au-underline"></a>
        </div>
      </div>
      </div>
    

  <!--Seccion parallax-->

<ul class="galeria">
 <li><a><img src="assets/img/libreria1.jpg"></a></li>
 <li><a><img src="assets/img/libreria2.jpg"></a></li>

</ul>
<!--
<div class="modal">
 <h3>Marquesita</h3>
 <div class="imagen">
   <a><img src="assets/img/10.jpg"></a>
 </div>
</div>

<div class="modal">
 <h3>Helado</h3>
 <div class="imagen">
     <a><img src="assets/img/11.jpg"></a>
 </div>
</div>

<div class="modal">
 <h3>Marquesita</h3>
 <div class="imagen">
     <a><img src="assets/img/12.jpg"></a>
 </div>
</div>

<div class="modal">
 <h3>Helado</h3>
 <div class="imagen">
     <a><img src="assets/img/13.jpg"></a>
 </div>
</div>
     -->
