<app-navpages></app-navpages>
<!--Slider-->

  <!--Seccion parallax-->
  <section>
      <div class="section text-inicio cam-bio">
        <div class="row container">
        <h3 class="header center-align">Libreria Dolores</h3>
        
        </div>
      </div>
  </section>

  <section>
    <div class="slider">
      <ul>
        <li>
          <img src="assets/img/ejemplos.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/librerias.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/libro3.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/libro2.jpg" alt="">
        </li>
      </ul>
    </div>
  </section>
  
  <div class="ae-container-fluid ae-container-fluid--inner rk-main">
      <div class="ae-grid au-xs-ta-center au-mb-4">
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/inner-1.jpg" alt="" class="au-mb-3">
          <h5 class="ae-u-bolder au-mt-2">Mision</h5>
    
          <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4" aling="justify">Nuestra vision es otorgar a nuestros clientes un servicio excelente que haga de su estancia una experiencia para recordar. Apoyados en la calidad y calidez humana de nuestro personal, la belleza, y exclusividad del Hotel</p><a href="#0" class="ae-u-bolder au-underline"></a>
        </div>
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/project-12.jpg" alt="" class="au-mb-3">
          <h5 class="ae-u-bolder au-mt-2">Vision</h5>
          <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4" aling="justify">Nuestra Vision es lograr que el HOTEL-SPA POSADA BONITA se posicione como la mejor opción del estado en servicio de hospedaje, alimentos, eventos sociales y grupos; manteniendo siempre la calidad y excelencia. </p><a href="#0" class="ae-u-bolder au-underline"></a>
        </div>
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/post-1.jpg" alt="" class="au-mb-3">
          <h5 class="ae-u-bolder au-mt-2">Lema</h5>
          <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4" aling="justify">Nuestro lema es Calidad y confort en un mismo lugar</p><a href="#0" class="ae-u-bolder au-underline"></a>
        </div>
      </div>
      <div class="ae-grid au-pt-2">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <h4 class="ae-u-bolder">Un poco de Historia</h4>
          <p>Esta hermosa casona con amplias columnas toscanas y su bello patio al centro fue destinada para
             servir como hotel en el año de 1825, siendo el primer hotel de Dolores Hidalgo, fundado por 
             Doña Manuela Gómez. Desde entonces ha sido parte fundamental de la ciudad y escenario de grandes 
             episodios dentro de la historia. Muy interesante fue la estancia del excéntrico General Antonio 
             López de Santa Anna. Por razones bélicas visito la ciudad en 1844, siendo el refinamiento 
             del hotel lo que lo cautivo para hacerlo su elección predilecta. Por esas fechas funcionarios 
             se alojaron en el Hotel mientras los poderes de la Republica residían en la ciudad. 
             Su estancia culmino con la tristemente celebre firma del “Tratado de Guadalupe” en la que 
             se cede a Estados Unidos mas de la mitad del territorio mexicano. Hacia 1879 Ángela Peralta
              “El Ruiseñor Mexicano” engalano con su presencia al Hotel, entonces renombrado como “el mejor
               y más moderno del bajío” En 1880, se crea el primer servicio de diligencias y para 1917,
                el hotel albergo a varios eminentes personajes del congreso constituyente, quienes crearon 
                la Constitución que actualmente nos rige. El tiempo implacable verá en el futuro la 
                transmutación del hotel y el paso de los invitados que como usted forman parte de nuestra
                historia.</p>
        </div>
      </div>
      </div>
    

  <!--Seccion parallax-->

<ul class="galeria">
 <li><a><img src="assets/img/10.jpg"></a></li>
 <li><a><img src="assets/img/11.jpg"></a></li>
 <li><a><img src="assets/img/12.jpg"></a></li>
 <li><a><img src="assets/img/13.jpg"></a></li>
</ul>

<div class="modal">
 <h3>Marquesita</h3>
 <div class="imagen">
   <a><img src="assets/img/10.jpg"></a>
 </div>
</div>

<div class="modal">
 <h3>Helado</h3>
 <div class="imagen">
     <a><img src="assets/img/11.jpg"></a>
 </div>
</div>

<div class="modal">
 <h3>Marquesita</h3>
 <div class="imagen">
     <a><img src="assets/img/12.jpg"></a>
 </div>
</div>

<div class="modal">
 <h3>Helado</h3>
 <div class="imagen">
     <a><img src="assets/img/13.jpg"></a>
 </div>
</div>




<!--
<div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-1.jpg" alt="">
  <div class="item-meta">
    <h2>Comodidad</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/1.jpg" alt="">
  <div class="item-meta">
    <h2>Confort</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/2.jpg" alt="">
  <div class="item-meta">
    <h2>Elegancia</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/3.jpg" alt="">
  <div class="item-meta">
    <h2>Popularidad</h2>
   
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/4.jpg" alt="">
  <div class="item-meta">
    <h2>Cordialidad</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/5.jpg" alt="">
  <div class="item-meta">
    <h2>Limpieza</h2>
   
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/6.jpg" alt="">
  <div class="item-meta">
    <h2>Amabilidad</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/7.jpg" alt="">
  <div class="item-meta">
    <h2>Servicio las 24 horas</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/8.jpg" alt="">
  <div class="item-meta">
    <h2>Bienestar</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/9.jpg" alt="">
  <div class="item-meta">
    <h2>De lo mejor</h2>
   
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/10.jpg" alt="">
  <div class="item-meta">
    <h2>Atractivo</h2>
   
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/11.jpg" alt="">
  <div class="item-meta">
    <h2>Bonita</h2>
    
  </div></a><a href="#" class="rk-item ae-masonry__item"><img src="assets/img/12.jpg" alt="">
  <div class="item-meta">
    <h2>Exelente</h2>

  
    
  </div>
</div>  -->