<app-navpages></app-navpages>
<div class="col s12" id="tabsupplies">
  <table >
    <thead>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Cantidad</th>
      <div *ngIf="!ignore">
          <th>Operaciones</th>
      </div>
    <tbody>
      <tr *ngFor="let supplie of supplieService.supplies">
          <td> {{ supplie.name }}</td>
          <td> {{ supplie.brand }}</td>
          <td> {{ supplie.quantity }}</td>
          <div *ngIf="!ignore">
              <td>
                  <a (click)="editSupplie(supplie)">
                    <i class="material-icons">edit</i>
                  </a>
                  <a (click)="deleteSupplie(supplie._id)">
                      <i class="material-icons">delete</i>
                    </a>
                </td>
          </div>
        </tr>
    </tbody>
    <button class="btn red" (click)="generarPDF()"> Generar PDF</button>
  </table>
</div>