<app-navpages></app-navpages>
<div class="section text-nosotros cam-bio">
  <div class="row container">
  <h2 class="header center-align">"Hotel-Spa Posada Bonita"</h2>
  <p class="center-align">La elegancia y confort puede ser parte de tus dias</p>
  </div>
</div>

   <!--Slider-->
   <section>
    <div class="slider">
      <ul>
        <li>
          <img src="assets/img/1.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/2.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/3.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/4.jpg" alt="">
        </li>
      </ul>
    </div>

  </section>

<div class="section color-nosotros cam-bio">
  <div class="row container">
<ul class="collapsible popout" data-collapsible="expandable">
<li>
 <div class="collapsible-header  deep-color">Misión</div>
 <div>
    <p class="tam-tipografia">Brindar a nuestros cliente una estancia de confort y calidez, satizfaciendo sus necesidades y generando una buena imagen
   </p>
  </div>
</li>
<li>
 <div class="collapsible-header  deep-color">Visión</div>
 <div>
    <p class="tam-tipografia">Ser reconocidos como uno de los mejores hoteles locales de Dolores Hidalgo
   </p>
  </div>
</li>
<li>
 <div class="collapsible-header deep-color">Valores</div>
 <div>
   <p class="tam-tipografia">Ética , Honestidad , Responsabilidad , Compromiso , Respeto , Servicio.
  </p>
  </div>
</li>
</ul>
  </div>
</div>
<app-footer></app-footer>
